spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/snapster
    username: snapster_app
    password: qwer1234
  pid:
    file: /home/ec2-user/snapster/application.pid
  security:
    oauth2:
      client:
        registration:
          kakao:
            redirect-uri: https://d3uszapt2fdgux.cloudfront.net//login/oauth2/code/kakao
          google:
            redirect-uri: https://d3uszapt2fdgux.cloudfront.net//login/oauth2/code/google
server:
  port: 80
  ssl:
    enabled: false
logging:
  config: classpath:log4j2-prod.yml
jwt:
  expiration: 1800000 # 1000 * 60 * 30    # 30ë¶„