server:
  error:
    whitelabel:
      enabled: true
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/snapster
    username: snapster_app
    password: qwer1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: af8073596be18f5dbfbb2515fe0ba6b0
            client-secret: t7hK1xIidAzKPLIpp03Oy5STa8uP9U0y
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - profile_image
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
jwt:
  secret: ZPXyrrx23kvJTSeBoIlM1MgtlWvj8uwCAxqsnpz+Vx6unxdiWVUsHZoJIECH4+3i1cdBQcDhv8jr8825J1LkRg==
  expiration: 1800000 # 1000 * 60 * 30    # 30ë¶„
  issuer: snapster-app
oauth2:
  kakao:
    app-redirect-uri: snapster://auth?token=